.cell_phone {
  font-size: var(--font-size-button);
  letter-spacing: 1.2px;
}

.cell_phone:hover {
  font-size: var(--font-size-button);
  color: var(--ui-hover);
}

@media screen and (max-width: 960px) {
  .container {
    display: none;
  }
}
