.container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--ui-secondary);
}

.container::-webkit-scrollbar-thumb {
  background: var(--ui-hover);
}

.title {
  position: sticky;

  top: 0;
  left: 0;
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  text-transform: uppercase;
  padding: 20px 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0)
  );
}
