.container {
  position: absolute;
  top: 50%;
  right: -160px;
  transform: translateY(-50%);
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title {
  font-family: var(--font-heading);
  margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.icon {
  width: 44px;
}

.name {
  font-size: var(--font-size-caption);
  margin-left: 10px;
  letter-spacing: 1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--brand-rich-mahogany);
}

.name:hover {
  color: var(--ui-hover);
}

@media screen and (max-width: 960px) {
  .container {
    width: 30%;
    padding: 0;
    top: 140px;
    left: 40px;
    background-color: transparent;
    box-shadow: none;
  }

  .title {
    display: none;
  }

  .socials_list {
    display: flex;
    gap: 10px;
  }

  .icon {
    width: 32px;
  }

  .name {
    display: none;
  }

  .item:last-child {
    margin-top: -10px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    top: 150px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    top: 120px;
    left: 14px;
  }
}
