.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 292px);
  overflow: hidden;
}

.hero_container {
  width: 900px;
}

.sliding_text_container {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 150px;
  bottom: 0;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.548);
  font-weight: var(--font-weight-bold);
}

.content_container {
  width: 55%;
}

.title {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  line-height: 44px;
  margin-bottom: 30px;
}

.quote {
  width: 70%;
  margin-bottom: 8px;
}

.signature {
  font-family: var(--font-signature);
  font-weight: var(--font-weight-bold);
}

.image_container {
  width: 45%;
  background: linear-gradient(45deg, #808080, #ffa500);
  border: 4px solid var(--bg-primary);
  box-sizing: border-box;
}

.image {
  /* position: absolute;
  width: 76%;
  bottom: 3px;
  left: 280px; */
}
