.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 292px);
  overflow: hidden;
}

.hero_container {
  width: 900px;
}

.sliding_text_container {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 150px;
  bottom: 0;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.548);
  font-weight: var(--font-weight-bold);
}

.content_container {
  width: 55%;
}

.title {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  line-height: 44px;
  margin-bottom: 30px;
}

.quote {
  width: 70%;
  margin-bottom: 8px;
}

.signature {
  font-family: var(--font-signature);
  font-weight: var(--font-weight-bold);
}

.img_container {
  background-color: var(--bg-primary);
  width: 45%;
  height: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.img {
  min-width: 345px;
  min-height: 356px;
  background-image: url('../../images/bg.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
