:global(.global_container) {
  outline: 2px solid yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 272px);
  padding: 0 30px;
  box-sizing: border-box;
}
