.btn_container {
  margin-bottom: 60px;
}

.button {
  width: calc(1020px / 6);
  margin: 0 auto;
  padding: 12px;
  box-sizing: border-box;
  background-color: transparent;
  text-transform: uppercase;
  font-size: var(--font-size-button);
  line-height: 1.2;
  cursor: pointer;
  border: none;
}

.active_button {
  composes: button;
  color: var(--ui-active);
}

.list {
  max-width: 1020px;
  max-height: 765px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
}
.list::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--ui-secondary);
}

.list::-webkit-scrollbar-thumb {
  background: var(--ui-hover);
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 176px;
  height: 176px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.img_container {
  display: flex;
  width: 86px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: var(--font-size-caption);
}
