.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
  padding: 0 15px;
}

@media screen and (max-width: 1440px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
}
