.section {
  display: flex;
  margin: 0 auto;
  max-width: 850px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.section::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--ui-secondary);
}

.section::-webkit-scrollbar-thumb {
  background: var(--ui-hover);
}

.container {
  display: flex;
  gap: 40px;
}

.img_container {
  width: 50%;
}

.img {
  display: block;
  width: auto;
  height: auto;
  border: 4px solid var(--bg-primary);
  box-sizing: border-box;
}

.text_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
}

.title,
.tech_stack_title {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.tech_stack_title {
  margin-bottom: -20px;
}

.tech_stack_list {
  padding-left: 40px;
}

.tech_stack_item {
  list-style-type: square;
}

.link {
  display: block;
  width: 160px;
}

.btn_container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.link:first-child {
  margin-right: 20px;
}

@media screen and (max-width: 1300px) {
  .section {
    position: relative;
  }
}

@media screen and (max-height: 900px) {
  .text_container {
    gap: 20px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    justify-content: start;
  }

  .text_container {
    width: 100%;
  }

  .btn_container {
    justify-content: start;
  }
}

@media screen and (max-width: 820px) {
  .section {
    width: 100%;
  }

  .img_container {
    margin: 0 auto;
  }

  .title {
    text-align: center;
  }

  .text_container {
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 28px;
  }

  .tech_stack_title {
    font-size: 18px;
  }
}

@media screen and (max-width: 414px), screen and (max-height: 700px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }

  .container {
    flex-direction: column;
    gap: 20px;
  }

  .title,
  .tech_stack_title {
    font-size: smaller;
    text-align: center;
  }

  .btn_container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  .link:first-child {
    margin: 0 0 20px 0;
  }
}
