.section {
  display: flex;
  align-items: f;
  margin: 0 auto;
  width: 90%;
}

.container {
  display: flex;
  gap: 40px;
}

.img_container {
  width: 50%;
}

.img {
  display: block;
  width: auto;
  height: auto;
  border: 4px solid var(--bg-primary);
  box-sizing: border-box;
}

.text_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 40px;
}

.title,
.tech_stack_title {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.tech_stack_title {
  margin-bottom: -20px;
}

.tech_stack_list {
  padding-left: 40px;
}

.tech_stack_item {
  list-style-type: square;
}

.btn_container {
  display: flex;
}

.link {
  display: block;
  width: 100%;
}
