@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Open+Sans:wght@300;400;500;700&family=Roboto+Slab:wght@300;400;500;700&display=swap');

:root {
  --brand-deep-charcoal: #282626ff;
  --brand-light-brown: #b5845d;
  --brand-rich-mahogany: #4e2422ff;
  --brand-dark-maroon: #372827ff;
  --brand-navy-blue: #1e2d44ff;
  --brand-burnt-sienna: #b2492cff;
  --brand-smoky-gray: #a5887a;
  --brand-onyx-black: #393836ff;
  --ui-active: #b2492cff;
  --ui-hover: #b5845d;
  --btn-hover: #494848;
  --ui-primary: #262626;
  --ui-secondary: #757575;
  --ui-tertiary: #f1f1f1;
  --ui-quaternary: #ffffff;
  --ui-disabled: #dedede;
  --ui-error: #c60e0e;
  --ui-success: #138000;

  --bg-primary: #ffffff;
  --bg-secondary: #e4e2d3;
  --bg-tertiary: #282626ff;

  --text-primary: #282626ff;
  --text-secondary: #757575;
  --text-disabled: #9c9c9c;
  --text-inverse: #ffffff;
  --text-error: #c60e0e;
  --text-success: #138000;

  --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Roboto Slab', serif;
  --font-signature: 'Dancing Script', cursive;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-caption: 14px;
  --font-size-button: 16px;
  --font-size-body: 18px;
  --font-size-title: 24px;
  --font-size-h5: 27px;
  --font-size-h4: 30px;
  --font-size-h3: 36px;
  --font-size-h2: 48px;
  --font-size-h1: 60px;

  --line-height-normal: 1.5;
  --line-height-heading: 1.2;
  --line-height-tight: 1.3;
  --line-height-loose: 1.7;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  padding-top: 0;
  margin: 0;
  font-family: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  font-size: var(--font-size-body);
  line-height: var(--line-height-normal);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3 {
  line-height: var(--line-height-heading);
}

p {
  line-height: var(--line-height-tight);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  button {
    font-size: 14px;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 43px;
  }

  h3 {
    font-size: 32px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}
