.container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 30px;
  box-sizing: border-box;
  background-color: var(--bg-primary);
  background-color: var(--bg-tertiary);
  color: var(--text-inverse);
}

.logo_description {
  font-size: 14px;
}

.logo_link {
  margin: 0;
  color: var(--brand-light-brown);
}

.title {
  margin-bottom: 14px;
}

.email,
.location {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.location:hover {
  color: var(--ui-hover);
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .container {
    position: relative;
    align-items: center;
  }

  .contacts_info_container {
    padding-bottom: 20px;
  }

  .copyright_info {
    position: absolute;
    right: 40px;
    bottom: 16px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 20px 15px;
  }

  .copyright_info {
    right: 25px;
  }
}
