.container {
  display: flex;
  max-width: 800px;
}

.content_container {
  margin: auto 0;
}

.title {
  font-family: var(--font-heading);
  margin-bottom: 20px;
}

.description {
  padding: 0 40px 0 0;
  box-sizing: border-box;
}

.accent {
  font-weight: var(--font-weight-bold);
}
