@media screen and (max-width: 960px) {
  .button {
    z-index: 999;
    position: fixed;
    margin-top: 5px;
    top: 25px;
    right: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
